<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Pool Temperature yesterday</title>
</head>

<body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div id="chart_div"></div>
    <script>
        function getMyData() {
            return {{ getTemperatureData }} ;
        }
    </script>

    <script src="/js/pooltemp.js"></script>

</body>

</html>
</DOCTYPE>
